@font-face {
    font-family: "ComicRetro";
    src: url("/assets/fonts/comic-retro.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "Pixelify Sans";
    src: url("/assets/fonts/pixelify-sans.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  
  /* Chicago fonts */
  @font-face {
    font-family: "ChicagoFLF";
    src: url("/assets/fonts/ChicagoFLF.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  